# Default ignored files
/workspace.xml
.idea
/out
/target
baseapi/baseapi.iml

dataapi/dataapi.iml

eurekaServer/eurekaServer.iml

gateway/gateway.iml

microservice.iml

service/service.iml

baseapi/target/classes/application.properties

baseapi/target/classes/fish/baseapi/getdata/BaseTestControl.class

baseapi/target/classes/fish/baseapi/getdata/GetDataApiData.class

baseapi/target/classes/fish/baseapi/getdata/TestReceiveData.class

baseapi/target/classes/fish/baseapi/restapi/SwaggerApi.class

baseapi/target/classes/fish/baseapi/SwaggerConfig.class

baseapi/target/classes/fish/baseapi/WebBaseApplication.class

dataapi/target/classes/application.properties

dataapi/target/classes/fish/dataapi/dao/EmployeesDAO.class

dataapi/target/classes/fish/dataapi/DataBaseApplication.class

dataapi/target/classes/fish/dataapi/servedata/DataBaseConfig.class

dataapi/target/classes/fish/dataapi/servedata/EmployeesController.class

dataapi/target/classes/fish/dataapi/servedata/TestApi.class

dataapi/target/classes/fish/dataapi/servedata/TestMysql.class

dataapi/target/classes/fish/dataapi/servedata/TestString.class

eurekaServer/target/classes/application.yml

eurekaServer/target/classes/com/fish/eurekaServer/EurekaServerApplication.class

gateway/target/classes/application.yml

gateway/target/classes/com/fish/microservice/GateWay.class

service/target/classes/fish/service/api/SayHello.class

service/target/classes/fish/service/api/ServiceSayHello.class

service/target/classes/fish/service/api/TestControl.class

service/target/classes/fish/service/model/Dog.class

service/target/classes/fish/service/model/Employees.class

service/target/classes/fish/service/model/User.class

service/target/classes/fish/service/Test.class

*/target